<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DUDB" connectionString="data source=DESKTOP-0NVP0AO; initial catalog=DataUpload; user id=sa; password=gv23"/>
  </connectionStrings>
</configuration>